/1-simple-agent/config.json
/.venv/
.idea/*
2-agent-tokenization/Qwen1.5-0.5B-Chat/*
/3-agent-build/.env
/3-agent-build/log.txt
/4-agent-frame/AutoGenDemo/.env
/4-agent-frame/AgentScopeDemo/.env
/4-agent-frame/CAMEL/.env
/4-agent-frame/Langgraph/.env
/5-agent-myframe/.env
__pycache__/
